body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#1e1e2f;
    font-family:Arial;
}

.calculator{
    background:#2a2a3a;
    padding:20px;
    border-radius:13px;
    box-shadow:0 0 20px rgba(0, 68, 239, 0.801);
    width:260px;
}

#display{
    width:100%;
    height:60px;
    font-size:26px;
    text-align:right;
    padding:2px;
    margin-bottom:18px;
    border:none;
    border-radius:10px;
    background:#111;
    color:#0f0;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    height:50px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:#444;
    color:white;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    background:#666;
}

.equals{
    grid-row: span 4;
    background:#ff9500a9;
}

.zero{
    grid-column: span 2;
}

footer{
    position:fixed;
    bottom:10px;
    font-size:14px;
    color:#ffffff;
}
footer a{
    color:rgb(255, 0, 0);
    text-decoration:none;
}